### Automating wranglin HW:

##### Write a function to convert the data file "018_HW_2x2_data.csv" from wide to "tidy" long format. Your function can assume that the input data consist of 4 columns (like our rat data), but should handle any number of rows (i.e. number of observations per cell).

### testing:

In [42]:
import numpy as np
import pandas as pd

In [36]:
dat = pd.read_csv("datasets/018_HW_2x2_data.csv")
dat

,Condition_A_Level_1,Condition_A_Level_2,Condition_B_Level_1,Condition_B_Level_2
0,10,20,30,40
1,15,25,35,45

In [ ]:
##### should look like: 

observation | Condition | Level 
10          |    a      | 1 
15          |    a      | 1
20          |    a.     | 2
25          |    a.     | 2 
30          |    b.     | 1 

etc.

In [37]:
dat = dat.to_numpy()                      # convert to numpy array

dat

array([[10, 20, 30, 40],
       [15, 25, 35, 45]])

In [59]:
obs_per_grp, grps = dat.shape
#gives us 8 total observations 

length = obs_per_grp * grps
length

8

In [39]:
values= np.reshape(dat, (length, 1), order = "F")

values = np.squeeze(values)

array([10, 15, 20, 25, 30, 35, 40, 45])

In [48]:
# create variable columns: 

condition = pd.Series(["A", "B"])
condition = condition.repeat(4)
condition = condition.reset_index(drop = True)
condition

level = pd.Series([1, 2])
level = level.repeat(2)
level = pd.concat([level]*2, ignore_index=True)  
level

0    1
1    1
2    2
3    2
4    1
5    1
6    2
7    2
dtype: int64

In [49]:
#create the dataframe using a dictionary with the series i just created
datadict= pd.DataFrame( 
    {"Data" : values, 
     "Condition" : condition,
     "Level" : level } 
)
datadict

   Data Condition  Level
0    10         A      1
1    15         A      1
2    20         A      2
3    25         A      2
4    30         B      1
5    35         B      1
6    40         B      2
7    45         B      2

In [60]:
def turntotidy(filename): 
    import numpy as np
    import pandas as pd 
    
    dat = pd.read_csv(filename)          # reads in filename inputted 
    dat = dat.to_numpy()                 # convert to a numpy array

    observations, groups = dat.shape   #gives us shape of data (obs = obs per group, groups = num of groups) 
    length = observations * groups          #gives us how long the array needs to be 
    
    #creating the array: 
    values= np.reshape(dat, (length, 1), order = "F")  #arranges data in proper format 
    values = np.squeeze(values)
    
    # create variable columns: 
        #outer grouping variable: 
    condition = pd.Series(["A", "B"])    #create a series containing variable categories
    condition = condition.repeat(4)       
    condition = condition.reset_index(drop = True) #make sure indexes are descending in order 
    
        #inner grouping variable: 
    level = pd.Series([1, 2])
    level = level.repeat(2)
    level = pd.concat([level]*2, ignore_index=True) 
    
    
    #create the dataframe using a dictionary with the two series i just created
    datadict= pd.DataFrame( 
        {"Data" : values, 
         "Condition" : condition,
         "Level" : level } 
    )
    return(datadict)

In [61]:
turntotidy("datasets/018_HW_2x2_data2.csv")

ValueError: array length 24 does not match index length 8